<p>Fight</p>

<table>
	<thead>
		<tr>
			<th>Jugador 1</th>
			<th>Jugador 2</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @jugador1 %></td>
			<td><%= @jugador2 %></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Ganador : Jugador <%= @ganador %></td>
			<td></td>
		</tr>
	</tfoot>
</table>
